<div class="container">

  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Warning!</h4>
    <p>To view listings, please sign up by clicking the Log In link in the top right of the page.</p>
  </div>

  <div class="jumbotron">
    <div class="opacity-layer">
      <%= image_tag 'dog-logo.png' %>
      <h1>Welcome to K9 KRIBZ</h1>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p>
        <a class="btn btn-primary btn-lg">Learn more</a>
        <a class="btn btn-primary btn-lg">Learn more</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Panel primary</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Panel primary</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Panel primary</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </div>
