<div class="container">
  <div class="jumbotron">
    <h1>Thanks, you paid <strong>$14.99</strong>!</h1>
    <p>Welcome to the K9 KRIBZ Premium Klub</p>
    <%= link_to 'Continue to Listings', listings_path, class: "btn btn-primary" %>
  </div>
  <div>
    <%= image_tag 'dog-peek.png', class: "img-responsive stripe-img" %>
  </div>
</div>
